greenlet==3.3.1
joblib==1.5.3
lightgbm==4.6.0
numpy==2.4.1
pandas==2.3.3
psycopg2-binary==2.9.11
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
scikit-learn==1.8.0
scipy==1.17.0
six==1.17.0
SQLAlchemy==2.0.46
threadpoolctl==3.6.0
typing_extensions==4.15.0
tzdata==2025.3
fastapi[standard]
uvicorn[standard]
requests==2.32.3